body {
    background-color: #e3e3e3;
}

div.images {
    background-color: #808080;
    width: 50%;
    overflow: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    }

img {
    margin: 10px;
    }

div.albums {
    width: 50%;
    overflow: auto;
    }

div.album {
    width: 160px;
    overflow: auto;
    background-color: #C0C0C0;
    text-align: center;
        -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: inline-block;
    }

a.album {
    text-decoration: none;
    }

div.error {
    width: 50%;
    overflow: auto;
    background-color: #FF0000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}

img.album {
    margin: 5px;
    }
